*{
    margin:0;
    padding:0;
}
#all{
    width:500px;
    height:300px;
    margin:0 auto;
    position: relative;
}
#all a{
    color: black;
}
#all li{
    list-style: none;
}
#menu{
    float: left;
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    background: #ccc;
}
#green{
    float: left;
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(0,178,78);
}
#all > div{
    width: 500px;
    height:250px;
    position:absolute;
    top:50px;
    display: none;
}
#all .picture_show{
    display: block;
}
#all .picture_show img{
    height:250px;
    position: absolute;
    left:240px;
}
#all .img{
    height:250px;
    position: absolute;
    left:240px;
}
.p_left{
    height: 250px;
    width: 250px;
    position:absolute;
    z-index: 1;
}
.squear{
    height: 60px;
    width: 280px;
    position: absolute;
    top:120px;
    left:2px;
    background-color: rgba(241,241,241,0.6);
}
.squear::after{
    content: '';
    border: 30px solid transparent;
    border-left-color: rgba(241,241,241,0.6);
    position: absolute;
    left:280px;
    top:0px;
    z-index: 1;
}
.text{
    height: 50px;
    width: 200px;
    margin: 10px auto;
    padding: 0px;
}
.text i{
    font-size: 18px;
    color: rgb(0,178,78);
}
.text .text_1{
    color: rgb(0,178,78);
    font-size: 18px;
}
.text_hover{
    height: 50px;
    width: 200px;
    margin: 10px auto;
    padding: 0px;
}
.text_hover i{
    font-size: 18px;
    color: rgb(0,178,78);
}
.text_hover .text_1{
    color: rgb(0,178,78);
    font-size: 18px;
}
.text_hover{
    height: 50px;
    width: 200px;
    margin: 10px auto;
    padding: 0px;
}
.text_hover i{
    font-size: 18px;
    color: rgb(0,178,78);
}
.text_1{
    color: rgb(0,178,78);
    font-size: 18px;
}
